@{
	ViewBag.Title = SiteStrings.Activate_Title;
}

<div class="page-header">
    <h1>@SiteStrings.Activate_Title</h1>
</div>

@Html.BootstrapValidationSummary(SiteStrings.Activate_Error_Title)

@if (ViewData.ModelState.IsValid)
{
	<div class="alert alert-info">
		<p class="lead"><strong>@SiteStrings.Activate_Success_Title</strong></p>

		<p>@SiteStrings.Activate_Label @Html.ActionLink(SiteStrings.Activate_Link, "Login")</p>
	</div>
}