@model UserViewModel
@{
	ViewBag.Title = SiteStrings.ResetPassword_Title;
}

<div class="page-header">
    <h1>@SiteStrings.ResetPassword_Title</h1>
</div>

@Html.BootstrapValidationSummary(SiteStrings.Shared_Error)
<p>@SiteStrings.ResetPassword_Complete_Label</p>

<form class="col-md-6" role="form" method="post">
	<div class="form-group">
		<label for="Password" class="control-label">@SiteStrings.Shared_Password_Label</label>
		<div>
			@(Html.PasswordFor<UserViewModel, string>(t => t.Password, new { @class = "form-control" }))
		</div>
	</div>

	<div class="form-group">
		<label for="PasswordConfirmation" class="control-label">@SiteStrings.Shared_PasswordConfirm_Label</label>
		<div>
			@(Html.PasswordFor<UserViewModel, string>(t => t.PasswordConfirmation, new { @class = "form-control" }))
		</div>
	</div>

	<div class="form-group">
		<div>
			<button type="submit" class="btn btn-primary">@SiteStrings.Button_ResetPassword</button>
		</div>
	</div>
</form>