@{ 
	ViewBag.Title = SiteStrings.ResetPassword_Title;
}

<div class="page-header">
    <h1>@SiteStrings.ResetPassword_Title</h1>
</div>

@Html.BootstrapValidationSummary(SiteStrings.Shared_Error)
<p>@SiteStrings.ResetPassword_Label</p>

<form class="col-md-6" role="form" method="post">
	<div class="form-group">
		<label for="email" class="control-label">@SiteStrings.Shared_Email_Label</label>
		<div>
			@Html.TextBox("email", null, new { @class = "form-control", type = "email", placeholder = "e.g. pipeline@localgovdigital.info" })
		</div>
	</div>

	<div class="form-group">
		<div>
			<button type="submit" class="btn btn-primary btn-lg">@SiteStrings.Button_ResetPassword</button>
		</div>
	</div>
</form>