@model IEnumerable<ActivityViewModel>

<div id="pipelineinfo" class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="activitycounter">
                <span class="activitycount">@(ActivityViewModel.OrganisationCount())</span><br/>
                Organisations
            </div>
        </div><div class="col-sm-3">
    <div class="activitycounter">
        <span class="activitycount">@(ActivityViewModel.PageCount())</span><br />
        Projects
    </div>
</div><div class="col-sm-6"><div id="whatshot">
                                <h3 id="whatshottitle">Top Projects</h3><div class="row">
        @foreach (Activity hotpage in ActivityViewModel.WhatsHotList())
        {

            <div class="col-sm-12">
                <a href="/wiki/@(hotpage.projectId)">@(hotpage.projectName)</a>&nbsp;from&nbsp;@(hotpage.orgName)
            </div>

        }
    </div>
</div>
</div>
    </div>
</div>

@if (Model.Count() > 0)
{

    <div id="relationships" class="container">
        <h3 id="activityheader">Latest Activity</h3>
        @foreach (ActivityViewModel activityModel in Model)
        {

            <div class="relationship">
                <div class="row">
                    @if (activityModel.activityName == "signup")
                    {
                        <div class="col-sm-1">
                            <span class="relationship-icon glyphicon glyphicon-log-in"></span>
                        </div>
                        <div class="col-sm-8">
                            Someone new @(activityModel.orgName)&nbsp;signed-up to Pipeline
                        </div>
                        <div class="col-sm-3">
                            <span class="activitytime">@(activityModel.activityDateTime.ToShortTimeString())</span>&nbsp;on&nbsp;@(activityModel.activityDateTime.ToShortDateString())
                        </div>

                    }
                    else if (activityModel.activityName == "added" || activityModel.activityName == "edited")
                    {
                        <div class="col-sm-1">
                            @if (activityModel.activityName == "added")
                            { <span class="relationship-icon glyphicon glyphicon-floppy-disk"></span> }
                            @if (activityModel.activityName == "edited")
                            { <span class="relationship-icon glyphicon glyphicon-floppy-save"></span> }
                        </div>
                        <div class="col-sm-8">
                            <a href="/wiki/@(activityModel.projectId)">@(activityModel.projectName)</a>&nbsp;owned&nbsp;by&nbsp;@(activityModel.orgName)&nbsp;was&nbsp;@(activityModel.activityName)
                        </div>
                        <div class="col-sm-3">
                            <span class="activitytime">@(activityModel.activityDateTime.ToShortTimeString())</span>&nbsp;on&nbsp;@(activityModel.activityDateTime.ToShortDateString())
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-1">
                            @if (activityModel.activityName == "liked")
                            { <span class="relationship-icon glyphicon glyphicon-thumbs-up"></span> }
                            @if (activityModel.activityName == "joined")
                            { <span class="relationship-icon glyphicon glyphicon-plus-sign"></span> }
                        </div>
                        <div class="col-sm-8">
                            @(activityModel.userNames)&nbsp;@(activityModel.activityName)&nbsp;<a href="/wiki/@(activityModel.projectId)">@(activityModel.projectName)</a>&nbsp;owned&nbsp;by&nbsp;@(activityModel.orgName)
                        </div>
                        <div class="col-sm-3">
                            <span class="activitytime">@(activityModel.activityDateTime.ToShortTimeString())</span>&nbsp;on&nbsp;@(activityModel.activityDateTime.ToShortDateString())
                        </div>

                    }
                </div>
            </div>
        }
    </div>

}




