@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}
<!--<h1 class="pagetitle">@Model.Title</h1>-->
<h1 id="hometitle">Welcome to Pipeline</h1>
<div id="homeintro" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="homesearchbox">
                <meta itemprop="dateCreated" content="@Model.CreatedOn" />
                <meta itemprop="creator" content="@Model.CreatedBy" />
                <meta itemprop="dateModified" content="@Model.ModifiedOn" />
                <meta itemprop="keywords" content="@Model.SpaceDelimitedTags()" />
            <p>Pipeline is a service from <a href="http://www.localgovdigital.info/localgov-digital-makers/">LocalGov Digital Makers</a> to aid innovation and collaboration in local government digital</a>.</p>
            <p>You can <a href="http://www.localgovdigital.org.uk/user/signup">sign up to be an alpha user here</a>. If you'd like to know more you can <a href="http://pipeline.localgovdigital.info/wiki/3/pipeline">find out about Pipeline here</a></p>
            
        </div>
    </div>
    </div>
</div>
<div id="homesearch" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="homesearchbox">
                <h3>Search for projects</h3>
                <form method="get" action="/Home/Search">
                    <div class="row">
                        <div class="col-sm-6 col-xs-8">
                            <input type="text" class="form-control input-lg" placeholder="Enter text to search" name="q">


                        </div>
                        <div class="col-sm-6 col-sm-4">
                            <input type="submit" class="btn btn-primary btn-lg" value="Search" />
                        </div>
                    </div>
                    <div class="homesearchtext hidden-sm hidden-xs">Search for projects already in Pipeline or <a href="/Pages/New">add your own</a>.</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @section Activity
{
            @* This is rendered by an action (and not a partial/extension method) for future donut caching *@
            @Html.Action("Activity", "Home")
        }


    </div>
</div>






