@model Roadkill.Core.Models.SearchResults<IList<Roadkill.Core.Models.ProjectSearchResult>>
<script>

    $(document).ready(function () {
        $("#Title").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });

        $('.search-filters .dropdown-menu li').click(function () {
            submitSearch();
        })

        $("#Organisation").typeahead({
            items: 9999,
            source: function (query, process) {
                var results = [];
                map = {};
                return $.get('/api/page-search/search-ahead/org/' + query, function (data) {
                    $.each(data, function (i, text) {
                        map[text] = text;
                        results.push(text);
                    });
                    process(results);
                });
            },
            updater: function (item) {
                var text = map[text];
                $("#Organisation").text(text);
                return item;
            }
        });

        var vars = getUrlVars();
        $("#Title").val(vars["title"]);
        $("#Department").val(vars["department"]);
        $("#Phase").val(vars["phase"]);
        $("#AgileLifecycle").val(vars["agileLifecycle"]);

        if (vars["orderBy"] == null) {
            setOrderBy("Title");
        } else {
            setOrderBy(vars["orderBy"]);
        }


        if (vars["collaborationLevel"] == null) {
            setCollaborationLevel("All");
        } else {
            setCollaborationLevel(decodeURIComponent(vars["collaborationLevel"]));
        }

        if (vars["organisation"] == null) {
            setOrganisation("");
        } else {
            setOrganisation(decodeURIComponent(vars["organisation"]));
        }

        if (vars["phase"] == null) {
            setPhase("All");
        } else {
            setPhase(vars["phase"]);
        }

        if (vars["agileLifecycle"] == null) {
            setAgileLifecycle("All");
        } else {
            setAgileLifecycle(vars["agileLifecycle"]);
        }

    });

    var orderBy = "Title";

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);

            if (typeof hash[1] === 'undefined') {
                // does not exist
            }
            else {
                vars[hash[0]] = hash[1].replace('#', '');
                // does exist
            }
        }
        return vars;
    }

    function setOrderBy(val) {
        orderBy = val;
        $("#btnSortby").html(val + " <span class='caret'></span>");
    }

    function setOrganisation(val) {
        $("#Organisation").val(val);
    }

    function setPhase(val) {
        $("#Phase").html(val + " <span class='caret'></span>");
    }
    function setAgileLifecycle(val) {
        $("#AgileLifecycle").html(val + " <span class='caret'></span>");
    }

    function setCollaborationLevel(val) {
        $("#CollaborationLevel").html(val + " <span class='caret'></span>");
    }

    function resetSearch() {


        window.location.href = "/home/search/";
    }
    function submitSearch() {

        var qs = "";
        if ($("#Title").val().length > 0) {
            qs += "title=" + $("#Title").val() + "&";
        }
        if ($("#Organisation").val().length > 0) {
            qs += "organisation=" + $("#Organisation").text().trim() + "&";
        }
        if ($("#Department").val().length > 0) {
            qs += "department=" + $("#Department").val() + "&";
        }
        if ($("#Phase").text().trim() != "All") {
            qs += "phase=" + $("#Phase").text().trim() + "&";
        }
        if ($("#CollaborationLevel").text().trim() != "All") {
            qs += "collaborationLevel=" + $("#CollaborationLevel").text().trim() + "&";
        }
        qs += "orderBy=" + orderBy + "&";
        qs = "/home/search?" + qs.slice(0, -1);

        window.location.href = qs;
    }


</script>
<h1>Search page </h1>
<div class="row spacer-bottom">
    <div class="col-sm-4">
        <label for="Title">Project Title</label>
        <input type="text" class="form-control" id="Title">
    </div>
    <div class="col-sm-4">
        <label for="Organisation">Organisation</label>
            <input id="Organisation" type="text" class="form-control" data-provide="typeahead" autocomplete="off" placeholder="Type organisation" name="title">
    </div>
    <div class="col-sm-4">
        <label for="Department">Department</label>
        <input type="text" class="form-control" id="Department">
    </div>
</div>

<div class="row search-filters">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Phase col-sm-2 col-form-label col-form-label-sm">Phase</label>
            <div class="dropdown form-field-inline">
                <button id="Phase" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    All
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setPhase('All');">All</a></li>

                    @foreach (var phase in Model.Phases)
                    {
                        <li><a href="#" onclick="setPhase('@phase');">@phase</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="form-group">
            <label for="CollaborationLevel col-sm-2 col-form-label col-form-label-sm">Collaboration Level</label>
            <div class="dropdown form-field-inline">
                <button id="CollaborationLevel" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    All
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setCollaborationLevel('All');">All</a></li>
                    @foreach (var collaborationLevel in Model.CollaborationLevels)
                    {
                        <li><a href="#" onclick="setCollaborationLevel('@collaborationLevel');">@collaborationLevel</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">

            <label for="btnSortby col-sm-2 col-form-label col-form-label-sm"> Sort By</label>
            <div class="dropdown form-field-inline">
                <button id="btnSortby" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Title
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setOrderBy('Title');">Title</a></li>
                    <li><a href="#" onclick="setOrderBy('Organisation');">Organisation</a></li>
                    <li><a href="#" onclick="setOrderBy('Department');">Department</a></li>
                    <li><a href="#" onclick="setOrderBy('Phase');">Phase</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <button id="btnSearch" type="button" class="btn btn-success" onclick="submitSearch()">Search</button>
        <label for="btnReset">&nbsp; </label>
        <button id="btnReset" type="button" class="btn btn-secondary" onclick="resetSearch()">Reset</button>
    </div>

</div>
<div class="row">
    <hr />
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-fit">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Organisation</th>
                    <th class="table-cell-mobile-hide">Department</th>
                    <th class="table-cell-mobile-hide">Phase</th>
                    <th class="table-cell-mobile-hide">Updated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var res in Model.Result)
                {
                    <tr>
                        <td class="table-ellipsis">
                            <a href="/wiki/@res.Id">@res.Title</a>
                        </td>
                        <td class="table-ellipsis">
                            @res.Organisation
                        </td>
                        <td class="table-cell-mobile-hide">
                            @res.Department
                        </td>
                        <td class="table-cell-mobile-hide">

                            @if (res.ProjectStatus != null)
                            {
                                <span class="label label-stage label-stage-small label-@res.ProjectStatus.ToLower()"> @res.ProjectStatus.ToUpper()</span>
                            }

                        </td>

                        <td class="table-cell-mobile-hide">@res.LastUpdated.ToString("MMM yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>


