@inherits RoadkillLayoutPage
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("HeadContent")
    @RenderSection("PluginHead", false)
    
    <!-- include summernote css/js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126948959-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-126948959-1');
    </script>
</head>
<body class="makers">
    <nav class="navbar-head" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="navbar-brand" href="https://localgov.digital"><img src="https://localgov.digital/wp-content/uploads/2017/01/lgd_logo-1-e1485652490381.png" alt="LocalGov Digital Logo" height="25"></a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar-app navbar-default" role="navigation">
        <div class="container">

        </div>
        <div class="container">
            <div class="col-md-2 padding-0">
                <div class="row">
                    <a class="brand-title" href="/">Pipeline</a>
                </div>
            </div>
            <div class="col-md-10 no-padding-r">
                <div class="navbar-header prototype-message pull-right">
                    <span class="label prototype-message-label-stage label-alpha">ALPHA</span> This is a prototype, <a href="https://localgovdigital.typeform.com/to/BUXokv">your feedback will help us improve this service</a>.
                </div>

            </div>
        </div>
        <div class="container">
            <div class="col-md-12 navbar-header padding-0">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse padding-0" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="padding-0" href="/pages/alltags">Tags</a></li>
                        <li><a href="/pages/allpages">All projects</a></li>
                        @Html.Action("BootstrapNavMenu", "Home")
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @Html.Action("LoggedInAs", "User")
                    </ul>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="col-md-9 padding-0">
                <ol class="breadcrumb breadcrumb-arrow no-margin ellipsis">
                    @if (ViewBag.Controller == null)
                    {
                        <li class="breadcrumb-item">@Html.ActionLink("Projects", "AllPages", "Pages")</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item">
                            <a href="#">@ViewBag.Controller</a>)
                        </li>
                    }
                    <li class="breadcrumb-item active" aria-current="page"><span>@ViewBag.Title</span></li>
                </ol>
            </div>
            <div class="col-md-3 padding-0">
                <form method="get" action="@Url.Action("Search", "Home")">
                    <div class="input-group">
                        <input id="Search" type="text" class="form-control-nav" data-provide="typeahead" autocomplete="off" placeholder="Enter text to search" name="title">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12 pull-right">
            <div class="row">
                @RenderSection("PageToolbar", false)
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            @RenderSection("PluginPreContainer", false)
            @RenderBody()
            @RenderSection("Activity", false)
            @RenderSection("RelatedRelationships", false)
            @RenderSection("PluginPostContainer", false)
        </div>
    </div>

    <footer>

        <div class="container">
            <div class="col-md-12">
                <div class="row">

                    @RenderSection("PageDetailsFooter", false)
                    @RenderSection("ViewHistoryLink", false)
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <p>Pipeline is a <a href="https://localgov.digital">LocalGov Digital</a> project.</p>
                        <p>The source is available on <a href="https://github.com/LocalGovDigital/pipeline">GitHub</a>. A list of feature requests can be found on <a href="https://trello.com/b/a80RaQ0s/pipeline">Trello</a>.</p>
                    </div>
                    <div class="col-md-1">
                        <div id="top-link" class="col-md-1 text-right">
                            <p><a href="#">Top</a></p>
                        </div>
                    </div>

                    @RenderSection("PluginFooter", false)
                </div>
            </div>
        </div>
    </footer>
</body>
</html>