@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@section PageToolbar
{
    @* This is rendered by an action (and not a partial/extension method) for future donut caching *@
    @Html.Action("PageToolBar", "Wiki", new { id = Model.Id })
}

@*@section ViewHistoryLink
    {
        @Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)
    }*@
<div class="page-header">
    <h1>@Model.Title</h1>
</div>

<div class="row">
    <div class="col-sm-3 col-md-4">
        <div class="form-group">
            <label>
                @if (!Model.ProjectEstimatedTime)
                { <text>Estimated </text> }Dates
        </label>
        <p class="form-control-static">@MvcHtmlString.Create(Model.ProjectStart.ToLongDateString()) to @MvcHtmlString.Create(Model.ProjectEnd.ToLongDateString())</p>
    </div>

    <div class="form-group">
        <label>Status</label>
        <p class="form-control-static">@MvcHtmlString.Create(Model.ProjectStatus)</p>
    </div>

    <div class="form-group">
        <label>Language</label>
        <p class="form-control-static">@MvcHtmlString.Create(Model.ProjectLanguage)</p>
    </div>
</div>
<div class="col-sm-3 col-sm-offset-1">
    <h4>Project Owner</h4>
    <p>@MvcHtmlString.Create(Model.OrgContactDetails.OrgName)</p>
    @if (!String.IsNullOrWhiteSpace(Model.OrgContactDetails.email))
    {
        <p><i class="glyphicon glyphicon-inbox"></i> <a href="mailto:@MvcHtmlString.Create(Model.OrgContactDetails.email)">@MvcHtmlString.Create(Model.OrgContactDetails.email)</a></p>
    }
    @if (!String.IsNullOrWhiteSpace(Model.OrgContactDetails.twitter))
    {
        <p><i class="glyphicon glyphicon-inbox"></i> <a href="https://twitter.com/@MvcHtmlString.Create(Model.OrgContactDetails.twitter)">@MvcHtmlString.Create(Model.OrgContactDetails.twitter)</a></p>
    }
    @if (String.IsNullOrWhiteSpace(Model.OrgContactDetails.email) && String.IsNullOrWhiteSpace(Model.OrgContactDetails.twitter))
    {
        <p>We don't have contact details for this organisation.</p>
    }
</div>
<div class="col-md-3 col-sm-offset-1 col-sm-4">
    <div class="form-group">
        <label>Last Modified</label>
        <p class="form-control-static">@Model.ModifiedOn.ToLongDateString() @Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, new { @class = "btn btn-link" })</p>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-9">
        @MvcHtmlString.Create(Model.ContentAsHtml)
    </div>
    <div class="col-md-3">
        @Html.Action("RelatedRelationships", "Wiki", new { id = Model.Id })
    </div>
</div>

@*@section RelatedRelationships
    {
        @* This is rendered by an action (and not a partial/extension method) for future donut caching * @
        @Html.Action("RelatedRelationships", "Wiki", new { id = Model.Id })
    }*@

@*@section PageDetailsFooter
    {
        @SiteStrings.Shared_LastModified @Model.ModifiedOn.ToLongDateString().
    }*@

@section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)
    <!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
