@model PageViewModel

@if (Model.Id != 0)
{
<div id="toolbar" class="btn-toolbar">
	<div class="btn-group">
	@if (RoadkillContext.IsLoggedIn)
    {
        if (Model.Rel.id == 0)
        {
            <a id="pageedit0-button" data-toggle="popover" data-placement="bottom" title="Get involved!" data-content="You can Like or Join a Project here." data-trigger="hover" class="btn btn-primary btn-sm" href="@Url.Action("New", "Rel", new { id = 0, pageID = Model.Id})" title="@SiteStrings.Shared_EditLink"><span class="glyphicon glyphicon-star-empty"></span></a>
        }
        else if (Model.Rel.relTypeId == 1)
        {
            <a id="pageedit1-button" class="btn btn-success btn-sm" href="@Url.Action("Edit", "Rel", new { id = Model.Rel.id, pageID = Model.Id })" title="@SiteStrings.Shared_EditLink"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        }
        else if (Model.Rel.relTypeId == 2)
        {
            <a id="pageedit2-button" class="btn btn-success btn-sm" href="@Url.Action("Edit", "Rel", new { id = Model.Rel.id, pageID = Model.Id })" title="@SiteStrings.Shared_EditLink"><span class="glyphicon glyphicon-plus-sign"></span></a>
        }

        if (Model.IsLocked && !RoadkillContext.IsAdmin)
        {
			<a id="pageedit-button" class="btn btn-default btn-sm disabled" href="#" title="@SiteStrings.Shared_EditLink - this page can only be edited by administrators."><span class="glyphicon glyphicon-pencil"></span></a>
        }
        else
        {
            <a id="pageedit-button" class="btn btn-default btn-sm" href="@Url.Action("Edit", "Pages", new { id = Model.Id})" title="@SiteStrings.Shared_EditLink"><span class="glyphicon glyphicon-pencil"></span></a>
        }
    }
        <a id="pageinfo-button" class="btn btn-default btn-sm" href="javascript:;" title="Page information"><span class="glyphicon glyphicon-book"></span></a>
        
	</div>
</div>
<script>jQuery('#pageedit0-button').popover('show')</script>
@*@Html.DialogPartial("PageInformation", Model)*@
}