@model IEnumerable<RelViewModel>
<hr />
@if (Model.Count() > 0)
{
    <h2>People</h2>
    <h4>Watchers</h4>
    <ul class="list-group">
        @foreach (RelViewModel pageModel in Model)
        {

            if (pageModel.relTypeID == 3)
            {
                if (!string.IsNullOrEmpty(pageModel.usertext.Replace(" ", "")))
                {
                    <li class="list-group-item-inline">
                        <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.usertext</a>
                    </li>
                }
                else if (!string.IsNullOrEmpty(pageModel.userName))
                {
                    <li class="list-group-item-inline">
                        <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.userName</a>

                    </li>
                }
                else if (!string.IsNullOrEmpty(pageModel.orgtext))
                {
                    <li class="list-group-item-inline">
                    <a href="/user/userprofile?email=@pageModel.userEmail"> @pageModel.orgtext member</a>
                    </li>
                }
            }
        }



    </ul>

    <h4>Contributors</h4>

    <ul class="list-group">
        @foreach (RelViewModel pageModel in Model)
        {

            if (pageModel.relTypeID == 4)
            {

                if (!string.IsNullOrEmpty(pageModel.usertext.Replace(" ", "")))
                {
                    <li class="list-group-item-inline">
                        <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.usertext</a>
                    </li>
                }
                else if (!string.IsNullOrEmpty(pageModel.userName))
                {
                    <li class="list-group-item-inline">
                        <a href="/user/userprofile?email=@pageModel.userEmail">@pageModel.userName</a>

                    </li>
                }
                else if (!string.IsNullOrEmpty(pageModel.orgtext))
                {
                    <li class="list-group-item-inline">
                        <a href="/user/userprofile?email=@pageModel.userEmail"> @pageModel.orgtext member</a>
                    </li>
                }

            }
        }



    </ul>
}


