@model IEnumerable<PageViewModel>
@{ 
	string title = string.Format(SiteStrings.Pages_ForUser, ViewData["Username"]);
	ViewBag.Title = title;
}
@if (RoadkillContext.IsAdmin)
{
<script>
	jQuery(function ($)
	{
		Roadkill.Web.Setup.bindConfirmDelete();
	});
</script>
}
<div class="page-header">
    <h1>@title</h1>
</div>

@if (Model.Count() > 0)
{
<table class="table table-striped">
	<thead>
		<tr>
			<th class="stretch">@SiteStrings.AllPages_TitleColumnHeading</th>
			@if (RoadkillContext.IsLoggedIn)
            {
			<th></th>
            }
		</tr>
	</thead>
    <tbody>
        @foreach (PageViewModel pageModel in Model)
        {
            <tr>
                <td>@Html.ActionLink(pageModel.Title, "Index", "Wiki", new { id = pageModel.Id, title = pageModel.EncodedTitle }, null)</td>
                @if (RoadkillContext.IsLoggedIn)
                {
                    <td>
                    @if (!pageModel.IsLocked || (pageModel.IsLocked && RoadkillContext.IsAdmin))
                    {
                        @Html.ActionLink(SiteStrings.Shared_EditLink, "Edit", new { id = pageModel.Id }, new { @class = "btn btn-xs btn-primary" })
                    } 
                    @if (RoadkillContext.IsAdmin)
                    {
                        @Html.ActionLink(SiteStrings.Shared_DeleteLink, "Delete", new { id = pageModel.Id }, new { @class = "btn btn-xs confirm" })
                    }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
}
else
{
	<p>@string.Format(SiteStrings.Pages_ForUser_NoPages, ViewData["Username"])</p>
}