@model RelViewModel
@{
    ViewBag.Title = SiteStrings.Profile_Title;
 }

<div class="page-header">
    <h1>@SiteStrings.Profile_Title</h1>
</div>

@if (Model == null)
{
    <p>@SiteStrings.Profile_Not_Available</p>
}
else
{
<form role="form" method="post">

    <!-- OrgID -->
    <div class="form-group">
        <label for="OrgID" class="control-label">@SiteStrings.Shared_OrgID_Label</label>
        <div>

        </div>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label for="NewEmail" class="control-label">@SiteStrings.Shared_Email_Label</label>
        <div>
            @(Html.TextBoxFor<RelViewModel, string>(t => t.reltext, new { @class = "form-control" }))
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary btn-lg">@SiteStrings.Button_Save</button>
        </div>
    </div>
</form>
}
